NODE_ENV="development"
LOG_LEVEL="debug"
PORT="3333"
API_PREFIX="/api"
CORS_FRONTEND_ORIGIN="http://localhost:3000"

AUTH_DOMAIN="http://localhost:3333"
APP_DOMAIN="http://localhost:3000"

AUTH_PUBLISHABLE_KEY="replace-with-a-random-value"
AUTH_SECRET_KEY="replace-with-a-random-value"

#* To generate secrets you can use:
#! openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048
#! openssl rsa -pubout -in private_key.pem -out public_key.pem
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
REPLACE_WITH_YOUR_OWN_GENERATED_PRIVATE_KEY
-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
REPLACE_WITH_YOUR_OWN_GENERATED_PUBLIC_KEY
-----END PUBLIC KEY-----"
JWT_SESSION_EXPIRES_IN="1m"
JWT_CLIENT_EXPIRES_IN="7d"
JWT_SESSION_EXPIRATION_SECONDS="180" # 3 minutes
JWT_CLIENT_EXPIRATION_SECONDS="604800" # 7 days
JWT_ISSUER="http://localhost:3000"
JWT_AUDIENCE="http://localhost:3000"
JWT_CLIENT_ACCESS_TO_PUBLIC_KEY_SECRET="replace-with-a-random-value"
SESSION_TOKEN_PATH="/"
CLIENT_TOKEN_PATH="/api/v1/auth/refresh"

ACCOUNT_DELETE_TOKEN_EXPIRATION_MINUTES="15"

# For Argon2
ARGON2_MAX_PARALLELISM="4"
ARGON2_MAX_MEMORY_COST="65536" # 64 MB
ARGON2_MAX_TIME_COST="3"

# For Input Validation
FIRST_NAME_MIN_LENGTH="2"
FIRST_NAME_MAX_LENGTH="50"
LAST_NAME_MIN_LENGTH="2"
LAST_NAME_MAX_LENGTH="50"
USERNAME_MIN_LENGTH="2"
USERNAME_MAX_LENGTH="20"
PASSWORD_MIN_LENGTH="8"
PASSWORD_MAX_LENGTH="72"
EMAIL_MAX_LENGTH="254"

RECOVERY_CODE_LENGTH="8"
RECOVERY_CODE_MAX_COUNT="10"
MAX_VERIFICATION_ATTEMPTS="5"

VERIFICATION_TOKEN_EXPIRATION_MINUTES="15"
VERIFICATION_ATTEMPT_RESET_WINDOW_MINUTES="60" # 1 hour
VERIFICATION_TOKEN_RESEND_LOCK_MINUTES="1440" # 24 hours
VERIFICATION_RESEND_LIMIT="5"
VERIFICATION_RESEND_COOLDOWN_1_MINUTES="1"
VERIFICATION_RESEND_COOLDOWN_2_MINUTES="5"
VERIFICATION_RESEND_COOLDOWN_3_MINUTES="15"
VERIFICATION_RESEND_COOLDOWN_4_MINUTES="60" # 1 hour
EMAIL_LOCK_DURATION_MINUTES="1440" # 24 hours

# Rate Limiting
MAX_SESSIONS_PER_USER="5"

# Cache variables

# Postgres Database variables
POSTGRES_USER="changeme"
POSTGRES_PASSWORD="changeme"
POSTGRES_DB="hypertube"

MAX_DB_POOL_SIZE="20"
IDLE_TIMEOUT_MILLIS="60000"
CONNECTION_TIMEOUT_MILLIS="2000"

DATABASE_URL="postgresql://changeme:changeme@localhost:5433/hypertube"

# Redis variables
REDIS_HOST="localhost"
REDIS_PORT="6380"
REDIS_PASSWORD="changeme"
REDIS_CONNECTION_TIMEOUT_MILLIS="10000"

# AWS SES variables
AWS_REGION="eu-west-3"
AWS_ACCESS_KEY_ID="replace-with-your-own"
AWS_SECRET_ACCESS_KEY="replace-with-your-own"
AWS_SES_SOURCE_EMAIL="you@example.com"

# Google variables
GOOGLE_CLIENT_ID="replace-with-your-own"
GOOGLE_CLIENT_SECRET="replace-with-your-own"
GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/google/callback"

# 42 variables
FORTYTWO_CLIENT_ID="replace-with-your-own"
FORTYTWO_CLIENT_SECRET="replace-with-your-own"
FORTYTWO_CALLBACK_URL="http://localhost:3000/api/auth/callback-42"
