MINIO_ROOT_USER="changeme"
MINIO_ROOT_PASSWORD="changeme"
MINIO_BROWSER="enabled"

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="hypertube"
POSTGRES_PASSWORD="changeme"
POSTGRES_DB="hypertube"

DATABASE_URL="postgresql://hypertube:changeme@localhost:5432/hypertube"

OMDB_API_KEY="replace-with-your-own"

AUTH_API_URL="http://localhost:3333/api/v1/auth"
JWT_PUBLIC_KEY_ACCESS_SECRET="replace-with-a-random-value"
JWT_ISSUER="http://localhost:3000"
JWT_AUDIENCE="http://localhost:3000"

AUTH_SECRET_HEADER_NAME="x-auth-secret-key"
AUTH_SECRET_KEY="replace-with-a-random-value"
